.homeContainer{
    position: absolute;
    display: flex;
}

.leftSide{
    flex:0.7;
}

.rightSide{
    flex: 0.3;
}

.navBarSection{
    position: fixed;
    width: 100%;
}

.todaysSpecialContainer{
    margin-top: 80px;
}